<div class="p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700 container-style">
    <div class="flex items-center justify-center">
      <div class="container text-center" *ngIf="listColumns && listColumns.length > 0; else noList">
        <div class="row">
          <div class="col column-style"
            *ngFor="let column of listColumns">
            <h3 class="mb-3 title-style">{{column.title}}</h3>
            <div *ngFor="let task of column.task_list">
              <app-card
                cdkDrag
                [id]="task.id"
                [title]="task.title"
                [description]="task.description"
                [list_Task]="task.sub_tasks"
                (clickButton)="editTask($event)"
                ></app-card>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noList>
        <div class="alert alert-primary" role="alert">
          No Board Selected
        </div>
      </ng-template>
    </div>
</div>

<ng-template #formTaksTemplate>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="taskForm" autocomplete="off" (ngSubmit)="updateTask()">
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" class="form-control" formControlName="title">
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <textarea class="form-control" formControlName="description" rows="3"></textarea>
        </div>
        <ng-container formArrayName="sub_tasks">
          <ng-container *ngFor="let subTasksForm of sub_tasks.controls; let i = index">
              <div class="container-subtask" [formGroupName]="i">
                <div class="input-group mb-3">
                  <div class="input-group-text">
                    <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" formControlName="status" appCheckbox>
                  </div>
                  <input type="text" class="form-control input-sub-task" formControlName="description" placeholder="Description Sub Task">
                </div>
                <div class="col-2 mt-2 ml-4" (click)="deleteSubTask(i)">X</div>
              </div>
          </ng-container>
      </ng-container>
      <div class="mb-3">
        <app-button
          classBtn="inline-flex items-center px-3 py-2 font-semibold"
          text="Add New SubTask"
          bgColor="#3A8B63"
          borderRadius="20px"
          fontColore="#ffffff"
          [needSvg]="false"
          type="button"
          (click)="addSubTask()">
        </app-button>
      </div>
        <div class="mb-3">
          <label class="form-label">Status</label>
          <select class="form-select" formControlName="id_column">
            <option [value]="column.id" *ngFor="let column of listOfColumns">{{column.title}}</option>
          </select>
        </div>
        <app-button
          [disabled]="!taskForm.valid"
          classBtn="inline-flex items-center px-3 py-2 font-semibold"
          text="Edit Task"
          bgColor="#6a82fb"
          borderRadius="20px"
          fontColore="#ffffff"
          [needSvg]="false"
          type="submit">
        </app-button>
      </form>
    </div>
  </div>
</ng-template>
